<ActionBar title="Stripe Angular Demo" class="action-bar">
</ActionBar>

<StackLayout class="page p-10">
  <Label text="Standard Integration" class="h2"></Label>
  <Button text="Demo" [nsRouterLink]="['/std']" [queryParams]="{ shipping: 'true'}" class="btn btn-primary btn-active"></Button>
  <Button text="Demo - No Shipping" [nsRouterLink]="['/std']" [queryParams]="{ shipping: 'false'}" class="btn btn-primary btn-active"></Button>

  <StackLayout class="hr-light m-10"></StackLayout>
  <Label text="Custom Integration" class="h2"></Label>
  <Button text="CreditCardView" [nsRouterLink]="['/ccview']" class="btn btn-primary btn-active"></Button>

  <StackLayout class="hr-light m-10"></StackLayout>
  <Label text="Intent Integration" class="h2"></Label>
  <Button text="Intent" [nsRouterLink]="['/intent']" class="btn btn-primary btn-active"></Button>

  <StackLayout class="hr-light m-10"></StackLayout>
  <Label text="Card Images" class="h2"></Label>
  <Button text="Images" [nsRouterLink]="['/images']" class="btn btn-primary btn-active"></Button>
</StackLayout>
