**/*.js
**/*.js.map
**/*.log
**/*.d.ts
!scripts/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
!src/objc!Stripe.d.ts
**/lib
**/node_modules
demo/platforms
demo-angular/platforms
demo/metadata-i386/
demo/metadata-x86_64/
.vscode
.idea
hooks
**/.DS_Store
