.vscode
.idea
**/.DS_Store
**/*.js
**/*.js.map
**/*.log
**/*.d.ts
src/angular
!src/index.d.ts
!src/standard/index.d.ts
!src/references.d.ts
!src/typings/java!Stripe.d.ts
!src/typings/objc!Stripe.d.ts
!src/scripts/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
!demo/references.d.ts
demo/*.d.ts
demo-angular/*.d.ts
**/package-lock.json
**/lib
**/node_modules
**/platforms
**/hooks
dist/
publish/src
publish/package
*.metadata.json

!**/webpack.config.js
