<ActionBar title="Customers Demo" class="action-bar">
    <NavigationButton text=""></NavigationButton>
</ActionBar>

<StackLayout class="page p-10">
    <Button text="List Customers" (tap)="createToken(card)" class="btn btn-primary"></Button>
    <Button text="Create Customer" (tap)="createToken(card)" class="btn btn-primary"></Button>
    <Button text="Update Customer" (tap)="createToken(card)" class="btn btn-primary"></Button>
    <Button text="Delete Customer" (tap)="createToken(card)" class="btn btn-primary"></Button>
    <StackLayout class="hr-light m-10"></StackLayout>
    <Label text="Results" class="h2"></Label>
    <Label [text]="results" textWrap="true"></Label>
</StackLayout>