<ActionBar title="My App" class="action-bar">
</ActionBar>

<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <GridLayout rows="auto" columns="auto,*" [nsRouterLink]="['/item', item.id]" class="list-group-item">
                <Label row="0" col="0" [text]="item.name"></Label>
                <Label row="0" col="1" [text]="'$' + (item.price/100)" class="pull-right"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>