<ActionBar title="Details" class="action-bar"></ActionBar>
<StackLayout class="page p-10">
    <Label class="h2" [text]="item.name"></Label>
    <StackLayout class="hr-light m-10"></StackLayout>
    <GridLayout rows="auto" columns="auto,*" (tap)="showPaymentMethods()" class="list-group-item">
        <Label row="0" col="0" text="Payment Type"></Label>
        <Label row="0" col="1" text="Credit Card" class="pull-right"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="auto,*" (tap)="showShipping()" class="list-group-item">
        <Label row="0" col="0" text="Shipping Method"></Label>
        <Label row="0" col="1" text="Standard" class="pull-right"></Label>
    </GridLayout>
    <GridLayout rows="auto" columns="auto,*" class="list-group-item">
        <Label row="0" col="0" text="Total"></Label>
        <Label row="0" col="1" [text]="'$' + (item.price / 100)" class="pull-right"></Label>
    </GridLayout>
    <StackLayout class="hr-light m-10"></StackLayout>
    <Button text="Buy" class="btn btn-primary btn-active" (tap)="buy()"></Button>
</StackLayout>